.foter{


    background-color: #2C3E50;
padding-bottom: 100px;
  

}
.fotter_lfotter{

background-color: #11181E;
width: 100% !important;
padding: 20px;

}
.font_size{

    font-size: 28px;
}

.border_color{

    border: 1px wheat solid;
    border-radius: 50%;
    background-color: #2C3E50;
    padding: 10px;
}